In [50]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomTreesEmbedding

from sklearn.linear_model import LinearRegression

In [28]:
df = pd.read_csv('claims_sample_data_cleared.csv')

In [29]:
df.head(3)

,Unnamed: 0,MONTH,SERVICE_CATEGORY,CLAIM_SPECIALTY,PAYER,PAID_AMOUNT,CLAIM_SPECIALTY_formatted,CLAIM_SPECIALTY_final,pairednum
0,0,201801,AncillaryFFS,null_specialty,Payer F,4281,null_specialty,null_specialty,1
1,1,201801,AncillaryFFS,null_specialty,Payer H,2221,null_specialty,null_specialty,1
2,2,201801,AncillaryFFS,null_specialty,Payer O,3937,null_specialty,null_specialty,1

In [30]:
df['year'] = df['MONTH'].apply(lambda x: int(str(x)[0:4]))
df['month'] = df['MONTH'].apply(lambda x: int(str(x)[4:6]))

In [35]:
df['payer'], unique_payers = pd.factorize(df['PAYER'])
df['categories'], unique_payers = pd.factorize(df['SERVICE_CATEGORY'])
df['specialities'], unique_payers = pd.factorize(df['CLAIM_SPECIALTY_final'])

In [53]:
year_dummies = pd.get_dummies(df['year'])
df = pd.concat([df, year_dummies], axis=1) 

month_dummies = pd.get_dummies(df['month'])
df = pd.concat([df, month_dummies], axis=1)

In [38]:
var = ['year', 'month', 'payer', 'categories', 'specialities']

In [39]:
X = df[var]
y = df['PAID_AMOUNT']

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=422)

In [56]:
reg = LinearRegression().fit(X_train, y_train)
reg.score(X_test, y_test)

0.006751130947085904

In [57]:
pd.get_dummies(df['year'])

       2018  2019  2020
0         1     0     0
1         1     0     0
2         1     0     0
3         1     0     0
4         1     0     0
...     ...   ...   ...
52147     0     0     1
52148     0     0     1
52149     0     0     1
52150     0     0     1
52151     0     0     1

[52152 rows x 3 columns]

In [58]:
from catboost import CatBoostRegressor, CatBoostClassifier, Pool